body {
  background-color: black;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}
.box {
  text-align: center;
}

.box .headline {
  font-weight: 700;
  font-size: 8em;
  color: white;
  font-family: "Dancing Script", cursive;
}

.box .contact,
.box .contact > a {
  color: white;
  text-decoration: none;
  font-family: "Piazzolla", serif;
}

.box .contact > a:hover {
  color: white;
  text-decoration: underline;
}
